html
{
    font-family: Roboto "sans serif";
    scroll-behavior: smooth;
    overflow: overlay;
}

.jumbotron_perso
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('Images/jumbotron_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0rem 0rem 0.3rem 0.3rem;
    padding: 2rem 1rem;
    margin-bottom: 5rem;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
  }

.bio_container
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('Images/bio_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0rem 0rem 0rem 0rem;
    padding: 0rem;
    margin-bottom: 0rem;
}

.font-perso
{
    font-family: Zapfino, "Apple Chancery";
}

::-webkit-scrollbar 
{
    width: 10px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(24, 23, 23, 0.7);
}

.logo_code
{
    width: 40px;
    height: 40px;
}